.main-content {
  margin-top: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-content p {
  width: 40%;
  background-color: #1e1e1e;
  padding: 10px;
  border-radius: 8px;
}
