.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  margin-top: 20%;
  gap: 40px;
}

.container img {
  width: 500px;
  height: 500px;
}

.text-expo {
  width: 50%;
}
