.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  margin-top: 10%;
  gap: 30px;
}

.container img {
  width: 500px;
  height: 500px;
  cursor: pointer;
  border: solid 1px #eec178;
  transition: ease 0.25s;
}

.container img:hover {
  transform: scale(1.1);
  box-shadow: 0 0 25px #eec178;
}

.text-expo {
  font-family: "Montserrat";
  line-height: 1.4rem;
  width: 50%;
  background-color: #1e1e1e;
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  margin-bottom: 2rem;
}
