.center-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20%;
}

.all-picture {
  display: grid;
  margin-top: 10%;
  margin-bottom: 5%;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
}

.all-picture img {
  width: 400px;
  height: 300px;
  border: 1px solid #eec178;
  transition: ease 0.25s;
  cursor: pointer;
}

.all-picture img:hover {
  transform: scale(1.1);
  box-shadow: 0 0 25px #eec178;
}
