@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400&display=swap");

* {
  box-sizing: border-box;
}

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 100px auto;
}

.container {
  padding: 10px 50px;
  position: relative;
  width: 50%;
  animation: movedown 1s linear forwards;
  opacity: 0;
}
@keyframes movedown {
  0% {
    opacity: 1;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

/* Each text box delay. Last value should be the same as the timeline duration */

.container:nth-child(1) {
  animation-delay: 0s;
}
.container:nth-child(2) {
  animation-delay: 1s;
}
.container:nth-child(3) {
  animation-delay: 1.8s;
}
.container:nth-child(4) {
  animation-delay: 2.7s;
}
.container:nth-child(5) {
  animation-delay: 3.2s;
}
.container:nth-child(6) {
  animation-delay: 4.6s;
}
.container:nth-child(7) {
  animation-delay: 6.3s;
}
.container:nth-child(8) {
  animation-delay: 7s;
}
.container:nth-child(9) {
  animation-delay: 7.5s;
}
.container:nth-child(10) {
  animation-delay: 8s;
}

/*Box where the question (text) is */

.text-box {
  padding: 20px 30px;
  background: #1e1e1e;
  position: relative;
  border-radius: 6px;
  font-size: 15px;
  color: #e3e3e0;
  cursor: pointer;
  z-index: 10;
  font-family: "Roboto";
  transition: ease-in-out 0.2s;
}

.text-box:hover {
  transform: scale(1.05);
}

.text-box p {
  text-align: left;
  line-height: 1.5rem;
  font-weight: 400;
  font-size: 1.1em;
  font-family: "Montserrat";
}

.left-container {
  left: 0;
}

.right-container {
  left: 50%;
}

/* bullet point in the middle of the time line */

.black-hole {
  position: absolute;
  right: -20px;
  top: 32px;
  z-index: 11;
  content: "";
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #f4d6a5;
  transition: ease 0.2s;
}

.container:hover > .black-hole {
  box-shadow: 0 0 25px #eec178;
}

.right-container .black-hole {
  left: -20px;
}

/*  time line duration and animation (9s)  */

.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 100%;
  border-radius: 4px;
  background-image: linear-gradient(to bottom, #b6a999, #4f4537, #9e7e4a);
  top: 0;
  left: 50%;
  margin-left: -3px;
  z-index: -1;
  animation: moveline 10s linear forwards;
}

@keyframes moveline {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}

/* /////////////////////////////////////// */

.text-box h2 {
  font-size: 1.3rem;
  font-weight: 700;
  color: #eec178;
  padding-bottom: 14px;
}

.left-container-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid #1e1e1e;
  right: -15px;
}

.right-container-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid #1e1e1e;
  left: -15px;
}

@media screen and (max-width: 600px) {
  .timeline {
    margin: 50px auto;
  }
  .timeline::after {
    left: 31px;
  }
  .container {
    width: 100%;
    padding: 80px;
    padding-right: 25px;
  }
  .text-box {
    font-size: 13px;
  }
  .right-container {
    left: 0;
  }

  .left-container .black-hole,
  .right-container .black-hole {
    left: 10px;
  }

  .left-container-arrow,
  .right-container-arrow {
    border-right: 15px solid #fff;
    border-left: 0;
    left: -15px;
  }
}

/* ///////////////////// Profile of the worker //////////////////// */

.top-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 12rem;
  margin-bottom: 10rem;
}

.profil-content {
  display: flex;
  justify-content: center;
  text-align: justify;
  gap: 50px;
}

.profile img {
  width: 250px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.bio-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: #1e1e1e;
  padding: 10px 10px;
  border-radius: 5px;
}

.bio-info p span {
  font-weight: 700;
}

.bio-info p {
  font-size: 1.03rem;
}

.bio {
  width: 40%;
}

.bio p {
  font-family: "Roboto";
  line-height: 1.4rem;
}

.bio p span {
  color: #eec178;
  font-weight: 700;
  font-size: 1.3rem;
}

.info-color {
  color: #eec178;
  margin-right: 5px;
}
